
@-webkit-keyframes passing-through {
  
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  30%, 70% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}


.dropzone, .dropzone * {
  box-sizing: border-box;
}
.dropzone {

  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 33px 33px;

  &.dz-started {
    .dz-message {
      display: none;
    }
  }
  .dz-message {
    text-align: center;
    margin: 2em 0;
  }


  .dz-preview {
    position: relative;
    display: inline-block;

    margin: 15px;

    .dz-details { display: none; }

    .dz-image {
      border-radius: 8px;
      overflow: hidden;
      width: 100px;
      height: 100px;
      background: #999;
      position: relative;
      display: block;
      background: linear-gradient(to bottom, #ccc, #bbb);

      img {
        display: block;
      }
    }


    &.dz-success {
      .dz-success-mark {
        -webkit-animation-duration: 3s;
        -webkit-animation-name: passing-through;
        -webkit-animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);//ease-in-out;
      }
    }
    &.dz-error {
      .dz-error-mark {
        -webkit-animation-duration: 3s;
        -webkit-animation-name: passing-through;
        -webkit-animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);//ease-in-out;
      }
    }


    .dz-success-mark, .dz-error-mark {

      $image-height: 54px;
      $image-width: 54px;

      opacity: 0;

      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin-left: -($image-width/2);
      margin-top: -($image-height/2);

      svg {
        display: block;
        width: $image-width;
        height: $image-height;
      }
    }
    
      
    &.dz-processing .dz-progress {
      opacity: 1;
      transition: all 0.2s linear;
    }
    &.dz-complete .dz-progress {
      opacity: 0;
      transition: opacity 0.4s ease-in;
    }
    .dz-progress {

      opacity: 1;

      position: absolute;
      height: 16px;
      left: 50%;
      top: 50%;
      margin-top: -8px;

      width: 80px;
      margin-left: -40px;

      // border: 2px solid #333;
      background: rgba(230, 230, 230, 0.9);

      // Fix for chrome bug: https://code.google.com/p/chromium/issues/detail?id=157218
      -webkit-transform: scale(1);


      border-radius: 8px;

      overflow: hidden;

      .dz-upload {
        background: #333;
        background: linear-gradient(to bottom, #333, #222);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        transition: width 100ms linear;
      }

    }

  }
}


