---
---

@import "reset";
@import "pygments";



$base-font-size: 20px;
$lh: 1.5rem;
$main-color: #0087F7;
$text-color: #646C7F;


$main-width: 720px;
$nav-width: 220px;
$header-background: #F3F4F5;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Roboto, "Open Sans", sans-serif;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $lh;
  background: $header-background;
  color: $text-color;
}


h1, h2, h3, table th {
  font-size: 1.8rem;
  color: $main-color;
  -webkit-font-smoothing: antialiased;
  line-height: 2rem;
  margin-top: 2 * $lh;
  margin-bottom: $lh;
}
table th {
  font-size: 1.4rem;
  color: $text-color;
}


a {
  color: $main-color;
  text-decoration: none;
  &:hover {
    border-bottom: 2px solid $main-color;
  }
}

p {
  margin: $lh 0;
}

strong {
  font-weight: 400;
}
em {
  font-style: italic;
}


code {
  font-family: Inconsolata, monospace;
  -webkit-font-smoothing: antialiased;
}


hr {
  border: none;
  background: none;
  position: relative;
  height: 2*$lh;
  &:after {
    content: "";
    position: absolute;
    top: $lh;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
  }
}

ul {
  li {
    list-style-type: disc;
    padding-top: $lh/2;
    padding-bottom: $lh/2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &:last-of-type {
      border: none;
    }
  }
}



// Code highlighting
.highlight {
  padding: $lh;
  overflow: auto;
  background: rgba(100, 108, 128, 0.03);
}

blockquote {
  color: $main-color;
  font-size: 1.2rem;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  margin-top: 2*$lh;
  margin-bottom: 2*$lh;
}


body > header {

  position: relative;
  padding: 4*$lh;
  background: $header-background;

  > * {
    max-width: 700px;
  }

  h1 {
    span { display: none; }
    margin-bottom: 2*$lh;
  }

  z-index: 1000;

}


main > nav {

  position: absolute;

  &.fixed {
    position: fixed;
  }
  top: 0;
  left: 0;
  bottom: 0;
  width: $nav-width;
  background: #028AF4;
  padding: $lh 0;

  z-index: 100;
  overflow: auto;

  display: none;

  a {
    display: block;
    line-height: $lh;
    color: rgba(255, 255, 255, 0.9);
    border: none;
    padding: $lh / 2 $lh;
    font-size: 0.8rem;
    -webkit-font-smoothing: subpixel-antialiased;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
      border: none;
    }

    &.level-0 {
      font-weight: 400;
    }
    &.level-1 {
      padding-left: $lh + 0.5rem;
      color: rgba(255, 255, 255, 0.7);
    }
    &.level-2 {
      padding-left: $lh + 1rem;
      color: rgba(255, 255, 255, 0.7);
    }
  }

}

@media (min-width: $nav-width + $main-width) {
  main {
    padding-left: $nav-width;
    > nav {
      display: block;
    }
  }
}

form.donate {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  top: 0.25em;
  margin: 0 0em 0 0.2em;
}

main {

  position: relative;

  section {

    padding: $lh $lh 2*$lh $lh;

    h1, h2 {
      margin-top: 0;
      padding-top: 2 * $lh;
    }

    > * {
      max-width: $main-width;
      margin-left: auto;
      margin-right: auto;
      &.highlight {
        max-width: $main-width + 180px;
      }
    }
    > table {
      max-width: 80rem;
    }

    &:nth-child(odd) {
      background: #F3F4F5;
    }
    &:nth-child(even) {
      background: #E8E9EC;
    }


    &.news {
      background: #646C7F;
      color: white;
      h1, h2 {
        color: white;
        -webkit-font-smoothing: subpixel-antialiased;

      }
      a {
        color: #C0E3FE;
        border-color: #C0E3FE;
      }
    }

  }


  table {
    font-size: 0.8rem;
    margin-top: 3*$lh;
    margin-bottom: 3*$lh;
    $border-color: #38A0FE;
    border: 1px solid $border-color;
    background: white;
    th:first-of-type,
    td:first-of-type {
      text-align: right;
    }
    th, td {
      text-align: left;
      border-bottom: 1px solid $border-color;
      padding: $lh/2 $lh;
    }
    td:first-of-type, th:first-of-type {
      border-right: 1px solid $border-color;
    }
    td:first-of-type {
      font-weight: bold;
      color: $main-color;
    }
    th.title {
      text-align: center;
      padding-top: 2*$lh;
      padding-bottom: 2*$lh;
      h1 {
        margin: 0;
        padding: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    td.separator {
      font-weight: normal;
      text-align: left;
      color: $text-color;
    }
  }

}