<h2 class="anchor" id="configuration-options">Configuration options</h2>
<table>
  <thead>

    <tr><th class="title" colspan="2"><div class="header">Configuration options</div></th></tr>
    <tr><th>Option</th><th>Description</th></tr>

  </thead>
  <tbody>
    <tr id="config-url">
      <td><a href="#config-url"><code>url</code></a></td>
      <td>
        Has to be specified on elements other than form (or when the form
        doesn't have an <code>action</code> attribute). You can also
        provide a function that will be called with <code>files</code> and
        must return the url (since <code>v3.12.0</code>)
      </td>

    </tr><tr id="config-method">

      <td><a href="#config-method"><code>method</code></a></td>
      <td>
        Defaults to <code>"post"</code> and can be changed to
        <code>"put"</code> if necessary. You can also provide a function
        that will be called with <code>files</code> and must return the
        method (since <code>v3.12.0</code>)
       </td>

    </tr><tr id="config-parallelUploads">

      <td><a href="#config-parallelUploads"><code>parallelUploads</code></a></td>
      <td>
        How many file uploads to process in parallel (See the
        <em>Enqueuing file uploads</em> section for more info)
      </td>

    </tr><tr id="config-maxFilesize">

      <td><a href="#config-maxFilesize"><code>maxFilesize</code></a></td>
      <td>in MB</td>

    </tr><tr id="config-filesizeBase">

      <td><a href="#config-filesizeBase"><code>filesizeBase</code></a></td>
      <td>
        Defaults to <code>1000</code>. This defines whether a base of
        <code>1000</code> or <code>1024</code> should be used to calculate
        file sizes. <code>1000</code> is correct, because <code>1000 Bytes</code>
        equal <code>1 Kilobyte</code>, and <code>1024 Bytes</code> equal
        <code>1 Kibibyte</code>. You can change this to <code>1024</code> if
        you don't care about validity.
      </td>

    </tr><tr id="config-paramName">

      <td><a href="#config-paramName"><code>paramName</code></a></td>
      <td>
        The name of the file param that gets transferred. Defaults to
        <code>file</code>. <strong>NOTE</strong>: If you have the option
        <code>uploadMultiple</code> set to <code>true</code>, then
        Dropzone will append <code>[]</code> to the name.
      </td>

    </tr><tr id="config-uploadMultiple">

      <td><a href="#config-uploadMultiple"><code>uploadMultiple</code></a></td>
      <td>
        Whether Dropzone should send multiple files in one request. If
        this it set to true, then the fallback file input element will
        have the <code>multiple</code> attribute as well. This option will
        also trigger additional events (like
        <code>processingmultiple</code>). See the events section for more
        information.
      </td>

    </tr><tr id="config-headers">

      <td><a href="#config-headers"><code>headers</code></a></td>
      <td>
        An object to send additional headers to the server. Eg:
        <code>headers: { "My-Awesome-Header": "header value" }</code>
      </td>

    </tr><tr id="config-addRemoveLinks">

      <td><a href="#config-addRemoveLinks"><code>addRemoveLinks</code></a></td>
      <td>
        This will add a link to every file preview to remove or cancel (if
        already uploading) the file. The <code>dictCancelUpload</code>,
        <code>dictCancelUploadConfirmation</code> and
        <code>dictRemoveFile</code> options are used for the wording.
      </td>

    </tr><tr id="config-previewsContainer">

      <td><a href="#config-previewsContainer"><code>previewsContainer</code></a></td>
      <td>
        defines where to display the file previews – if <code>null</code> the
        Dropzone element is used. Can be a plain HTMLElement or a CSS
        selector. The element should have the <code>dropzone-previews</code> class so
        the previews are displayed properly.
      </td>

    </tr><tr id="config-hiddenInputContainer">

      <td><a href="#config-hiddenInputContainer"><code>hiddenInputContainer</code></a></td>
      <td>
        This is the element the hidden input field (which is used when clicking on the
        dropzone to trigger file selection) will be appended to. This might
        be important in case you use frameworks to switch the content of your page.
        Defaults to <code>body</code>.
      </td>

    </tr><tr id="config-clickable">

      <td><a href="#config-clickable"><code>clickable</code></a></td>
      <td>
        If <code>true</code>, the dropzone element itself will be
        clickable, if <code>false</code> nothing will be clickable.
        Otherwise you can pass an HTML element, a CSS selector (for
        multiple elements) or an array of those.
      </td>

    </tr><tr id="config-createImageThumbnails">

      <td><a href="#config-createImageThumbnails"><code>createImageThumbnails</code></a></td>
      <td></td>
    </tr><tr id="config-maxThumbnailFilesize">
      <td><a href="#config-maxThumbnailFilesize"><code>maxThumbnailFilesize</code></a></td>
      <td>
        in MB. When the filename exceeds this limit, the thumbnail will
        not be generated.
      </td>

    </tr><tr id="config-thumbnailWidth">

      <td><a href="#config-thumbnailWidth"><code>thumbnailWidth</code></a></td>
      <td>
        if <code>null</code>, the ratio of the image will be used to
        calculate it.
      </td>

    </tr><tr id="config-thumbnailHeight">

      <td><a href="#config-thumbnailHeight"><code>thumbnailHeight</code></a></td>
      <td>

        the same as <code>thumbnailWidth</code>. If both are null, images
        will not be resized.
      
      </td>

    </tr><tr id="config-maxFiles">

      <td><a href="#config-maxFiles"><code>maxFiles</code></a></td>
      <td>
        if not <code>null</code> defines how many files this Dropzone
        handles. If it exceeds, the event <code>maxfilesexceeded</code>
        will be called. The dropzone element gets the class <code>dz-max-
        files-reached</code> accordingly so you can provide visual
        feedback.
       </td>

    </tr><tr id="config-resize">

      <td><a href="#config-resize"><code>resize</code></a></td>
      <td>
        is the function that gets called to create the resize information.
        It gets the <code>file</code> as first parameter and must return
        an object with <code>srcX</code>, <code>srcY</code>,
        <code>srcWidth</code> and <code>srcHeight</code> and the same for
        <code>trg*</code>. Those values are going to be used by
        <code>ctx.drawImage()</code>.
      </td>

    </tr><tr id="config-init">

      <td><a href="#config-init"><code>init</code></a></td>
      <td>
        is a function that gets called when Dropzone is initialized. You
        can setup event listeners inside this function.
      </td>

    </tr><tr>

      <td><strike><code>acceptedMimeTypes</code></strike></td>
      <td>
        Deprecated in favor of <code>acceptedFiles</code>
      </td>

    </tr><tr id="config-acceptedFiles">

      <td><a href="#config-acceptedFiles"><code>acceptedFiles</code></a></td>
      <td>
        The default implementation of <code>accept</code> checks the
        file's mime type or extension against this list. This is a comma
        separated list of mime types or file extensions. Eg.:
        <code>image/*,application/pdf,.psd</code>. If the Dropzone is
        <code>clickable</code> this option will be used as
        <a href="https://developer.mozilla.org/en-US/docs/HTML/Element/input#attr-accept"><code>accept</code></a>
        parameter on the hidden
        file input as well.
      </td>

    </tr><tr id="config-accept">

      <td><a href="#config-accept"><code>accept</code></a></td>
      <td>
        is a function that gets a
        <a href="https://developer.mozilla.org/en-US/docs/DOM/File">file</a>
        and a <code>done</code> function as parameter.
        If the done function is invoked without a parameter, the file will
        be processed. If you pass an error message it will be displayed
        and the file will not be uploaded. This function will not be
        called if the file is too big or doesn't match the mime types.
      </td>

    </tr><tr id="rename-filename">

      <td><a href="#rename-filename"><code>renameFilename</code></a></td>
      <td>
        is a function that is invoked before the file is uploaded to the server
        and renames the file. See the <a href="https://github.com/enyo/dropzone/pull/955">renameFilename pull request</a>
        for more information.
      </td>

    </tr><tr>

      <td>
        <strike><code>enqueueForUpload</code></strike> 
      </td>
      <td>
        Deprecated in favor of <code>autoProcessQueue</code>.
      </td>

    </tr><tr id="config-autoProcessQueue">

      <td><a href="#config-autoProcessQueue"><code>autoProcessQueue</code></a></td>
      <td>
        When set to <code>false</code> you have to call
        <code>myDropzone.processQueue()</code> yourself in order to upload
        the dropped files. See below for more information on handling
        queues.
      </td>

    </tr><tr id="config-previewTemplate">

      <td><a href="#config-previewTemplate"><code>previewTemplate</code></a></td>
      <td>
        is a string that contains the template used for each dropped
        image. Change it to fulfill your needs but make sure to properly
        provide all elements. You can include the HTML in your page in a
        <code>&lt;div id="preview-template" style="display: none;"&gt;&lt;/div&gt;</code> container, and set
        it like this: <code>previewTemplate: document.getElementById('preview-template').innerHTML</code>.
      </td>

    </tr><tr id="config-forceFallback">

      <td><a href="#config-forceFallback"><code>forceFallback</code></a></td>
      <td>
        Defaults to <code>false</code>. If <code>true</code> the fallback
        will be forced. This is very useful to test your server
        implementations first and make sure that everything works as
        expected without dropzone if you experience problems, and to test
        how your fallbacks will look.
      </td>

    </tr><tr id="config-fallback">

      <td><a href="#config-fallback"><code>fallback</code></a></td>
      <td>
        is a function that gets called when the browser is not supported.
        The default implementation shows the fallback input field and adds
        a text.
      </td>


    </tr><tr>
      <td class="separator" colspan="2">to translate dropzone, you can also provide these options:</td>
    </tr><tr id="config-dictDefaultMessage">

      <td><a href="#config-dictDefaultMessage"><code>dictDefaultMessage</code></a></td>
      <td>
        The message that gets displayed before any files are dropped. This
        is normally replaced by an image but defaults to "Drop files here
        to upload"
      </td>

    </tr><tr id="config-dictFallbackMessage">

      <td><a href="#config-dictFallbackMessage"><code>dictFallbackMessage</code></a></td>
      <td>
        If the browser is not supported, the default message will be
        replaced with this text. Defaults to "Your browser does not
        support drag'n'drop file uploads."
      </td>

    </tr><tr id="config-dictFallbackText">

      <td><a href="#config-dictFallbackText"><code>dictFallbackText</code></a></td>
      <td>
        This will be added before the file input files. If you provide a
        fallback element yourself, or if this option is <code>null</code> this will
        be ignored. Defaults to "Please use the fallback form below to
        upload your files like in the olden days."
      </td>

    </tr><tr id="config-dictInvalidFileType">

      <td><a href="#config-dictInvalidFileType"><code>dictInvalidFileType</code></a></td>
      <td>
        Shown as error message if the file doesn't match the file type.
      </td>

    </tr><tr id="config-dictFileTooBig">

      <td><a href="#config-dictFileTooBig"><code>dictFileTooBig</code></a></td>
      <td>
        Shown when the file is too big. <code>{% raw %}{{filesize}}{% endraw %}</code> and
        <code>{% raw %}{{maxFilesize}}{% endraw %}</code> will be replaced.
      </td>

    </tr><tr id="config-dictResponseError">

      <td><a href="#config-dictResponseError"><code>dictResponseError</code></a></td>
      <td>
        Shown as error message if the server response was invalid.
        <code>{% raw %}{{statusCode}}{% endraw %}</code> will be replaced with the servers status code.
      </td>

    </tr><tr id="config-dictCancelUpload">

      <td><a href="#config-dictCancelUpload"><code>dictCancelUpload</code></a></td>
      <td>
        If <code>addRemoveLinks</code> is true, the text to be used for the cancel upload link.
      </td>

    </tr><tr id="config-dictCancelUploadConfirmation">

      <td><a href="#config-dictCancelUploadConfirmation"><code>dictCancelUploadConfirmation</code></a></td>
      <td>
        If <code>addRemoveLinks</code> is true, the text to be used for confirmation when cancelling upload.
      </td>

    </tr><tr id="config-dictRemoveFile">

      <td><a href="#config-dictRemoveFile"><code>dictRemoveFile</code></a></td>
      <td>
        If <code>addRemoveLinks</code> is true, the text to be used to remove a file.
      </td>

    </tr><tr id="config-dictMaxFilesExceeded">

      <td><a href="#config-dictMaxFilesExceeded"><code>dictMaxFilesExceeded</code></a></td>
      <td>
        If <code>maxFiles</code> is set, this will be the error message when it's exceeded.
      </td>
    </tr>
  </tbody>
</table>

