<!-- Facebook like button -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header>

  <img itemprop="image" src="/images/logo@2x.png" alt="logo" />

  <h1 id="logo" itemprop="name">
    <span>dropzone.js</span>
  </h1>


  <section id="intro" itemprop="description">
    <h2>DropzoneJS is an open source library that provides drag'n'drop file uploads with image previews.</h2>
  </section>

  <div id="loading-font"><span>Loading fonts</span></div>


  <section id="social-buttons">
    <div class="social-button">
      <iframe src="http://ghbtns.com/github-btn.html?user=enyo&amp;repo=dropzone&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
    </div>

    <div class="social-button">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.dropzonejs.com" data-text="DropzoneJS is an open source library that provides drag'n'drop file uploads with image previews" data-via="matenyo">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <div class="social-button">
      <!-- Place this tag where you want the +1 button to render. -->
      <div class="g-plusone" data-size="medium" data-href="http://www.dropzonejs.com"></div>
    </div>

    <div class="social-button">
      <!-- Place this tag after the last +1 button tag. -->
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
    </div>

    <div class="social-button facebook-social-button">
      <div class="fb-like" data-href="http://www.dropzonejs.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="trebuchet ms"></div>
    </div>

    <div class="social-button flattr-social-button">
      <a href="http://flattr.com/thing/1163908/DropzoneJS" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a>
    </div>

  </section>

</header>