@import "nib"
@import "pygments"


@font-face
  font-family 'League Gothic'
  font-style normal
  font-weight 500
  src local('League Gothic'), url("../fonts/league-gothic.woff") format('woff')


*
  box-sizing border-box


body
  font-family 'Source Sans Pro', arial, sans-serif
  background url("../images/background.png") repeat 0 0
  font-size 14px
  font-weight 300
  color black

code
  font-family menlo, monospace

a
  color black
  text-decoration underline

h1
h2
h3
  font-family "League Gothic"
  font-weight 500
  color black


h1
  font-size 60px
h2
  font-size 48px
h3
  font-size 30px



code
  color #005590


blockquote
  margin 30px 0
  padding 0 0 0 10px
  border-left 2px solid rgba(0, 0, 0, 0.05)



#container
  width 600px
  margin 30px auto 100px auto
  p
    text-align justify


@import "dropzone"