@import "nib"
@import "pygments"


@font-face
  font-family 'League Gothic'
  font-style normal
  font-weight 500
  src local('League Gothic'),
      url("../fonts/league-gothic.woff") format('woff'),
      url("../fonts/league-gothic.ttf") format('ttf'),
      url("../fonts/league-gothic.eot") format('embedded-opentype'),
      url("../fonts/league-gothic.svg") format('svg')


*
  box-sizing border-box


body
  font-family 'Open Sans', arial, sans-serif
  background url("../images/background.png") repeat 0 0
  font-size 15px
  line-height 140%
  font-weight 300
  color black

strong
  font-weight 600

code
  font-family menlo, monospace
  font-size 14px

a
  color black
  text-decoration underline

h1
h2
h3
  font-family "League Gothic"
  font-weight 500
  color black


h1
  font-size 60px
  margin 100px 0 40px 0
h2
  font-size 48px
  margin 80px 0 35px 0
h3
  font-size 30px
  margin 60px 0 30px 0
  color #666


hr
  height 1px
  display block
  border none

  background linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1) 50%, rgba(0,0,0,0))

  margin 40px 0

code
  color #005590


blockquote
  margin 30px 0
  padding 0 0 0 10px
  border-left 2px solid rgba(0, 0, 0, 0.05)



#container
  width 600px
  margin 30px auto 100px auto
  p
    text-align justify



#dropzone
  margin 30px 0
  box-shadow 0 0 50px rgba(0, 0, 0, 0.2)
  padding 4px
  border-radius 5px

@import "dropzone"
@import "opentip"
