<h2 class="anchor" id="configuration-options">Configuration options</h2>
<table>
  <thead>

    <tr><th class="title" colspan="2"><div class="header">Configuration options</div></th></tr>
    <tr><th>Option</th><th>Description</th></tr>

  </thead>
  <tbody>

    
    <tr id="config-url">
      <td><a href="#config-url"><code>url</code></a> <span class="default-value"><code>default: null</code></span></td>
      <td>
        <p>Has to be specified on elements other than form (or when the form
doesn&#39;t have an <code>action</code> attribute). You can also
provide a function that will be called with <code>files</code> and
must return the url (since <code>v3.12.0</code>)</p>

      </td>
    </tr>
    <tr id="config-method">
      <td><a href="#config-method"><code>method</code></a> <span class="default-value"><code>default: "post"</code></span></td>
      <td>
        <p>can be changed to <code>&quot;put&quot;</code> if necessary. You can also provide a function
that will be called with <code>files</code> and must return the method (since <code>v3.12.0</code>)</p>

      </td>
    </tr>
    <tr id="config-withCredentials">
      <td><a href="#config-withCredentials"><code>withCredentials</code></a> <span class="default-value"><code>default: no</code></span></td>
      <td>
        <p>foo</p>

      </td>
    </tr>
    <tr id="config-timeout">
      <td><a href="#config-timeout"><code>timeout</code></a> <span class="default-value"><code>default: 30000 # timeout in milliseconds</code></span></td>
      <td>
        <p>foo</p>

      </td>
    </tr>
    <tr id="config-parallelUploads">
      <td><a href="#config-parallelUploads"><code>parallelUploads</code></a> <span class="default-value"><code>default: 2</code></span></td>
      <td>
        <p>How many file uploads to process in parallel (See the
<em>Enqueuing file uploads</em> documentation section for more info)</p>

      </td>
    </tr>
    <tr id="config-uploadMultiple">
      <td><a href="#config-uploadMultiple"><code>uploadMultiple</code></a> <span class="default-value"><code>default: no</code></span></td>
      <td>
        <p>Whether to send multiple files in one request. If
this it set to true, then the fallback file input element will
have the <code>multiple</code> attribute as well. This option will
also trigger additional events (like <code>processingmultiple</code>). See the events
documentation section for more information.</p>

      </td>
    </tr>
    <tr id="config-maxFilesize">
      <td><a href="#config-maxFilesize"><code>maxFilesize</code></a> <span class="default-value"><code>default: 256</code></span></td>
      <td>
        <p>in MB</p>

      </td>
    </tr>
    <tr id="config-paramName">
      <td><a href="#config-paramName"><code>paramName</code></a> <span class="default-value"><code>default: "file"</code></span></td>
      <td>
        <p>The name of the file param that gets transferred.
<strong>NOTE</strong>: If you have the option  <code>uploadMultiple</code> set to <code>true</code>, then
Dropzone will append <code>[]</code> to the name.</p>

      </td>
    </tr>
    <tr id="config-createImageThumbnails">
      <td><a href="#config-createImageThumbnails"><code>createImageThumbnails</code></a> <span class="default-value"><code>default: true</code></span></td>
      <td>
        <p>foo</p>

      </td>
    </tr>
    <tr id="config-maxThumbnailFilesize">
      <td><a href="#config-maxThumbnailFilesize"><code>maxThumbnailFilesize</code></a> <span class="default-value"><code>default: 10</code></span></td>
      <td>
        <p>in MB. When the filename exceeds this limit, the thumbnail will not be generated.</p>

      </td>
    </tr>
    <tr id="config-thumbnailWidth">
      <td><a href="#config-thumbnailWidth"><code>thumbnailWidth</code></a> <span class="default-value"><code>default: 120</code></span></td>
      <td>
        <p>foo</p>

      </td>
    </tr>
    <tr id="config-thumbnailHeight">
      <td><a href="#config-thumbnailHeight"><code>thumbnailHeight</code></a> <span class="default-value"><code>default: 120</code></span></td>
      <td>
        <p>foo</p>

      </td>
    </tr>
    <tr id="config-filesizeBase">
      <td><a href="#config-filesizeBase"><code>filesizeBase</code></a> <span class="default-value"><code>default: 1000</code></span></td>
      <td>
        <p>The base that is used to calculate the filesize. You can change this to
1024 if you would rather display kibibytes, mebibytes, etc...
1024 is technically incorrect, because <code>1024 bytes</code> are <code>1 kibibyte</code> not <code>1 kilobyte</code>.
You can change this to <code>1024</code> if you don&#39;t care about validity.</p>

      </td>
    </tr>
    <tr id="config-maxFiles">
      <td><a href="#config-maxFiles"><code>maxFiles</code></a> <span class="default-value"><code>default: null</code></span></td>
      <td>
        <p>Can be used to limit the maximum number of files that will be handled
by this Dropzone</p>

      </td>
    </tr>
    <tr id="config-params">
      <td><a href="#config-params"><code>params</code></a> <span class="default-value"><code>default: { }</code></span></td>
      <td>
        <p>Can be an object of additional parameters to transfer to the server.
This is the same as adding hidden input fields in the form element.</p>

      </td>
    </tr>
    <tr id="config-clickable">
      <td><a href="#config-clickable"><code>clickable</code></a> <span class="default-value"><code>default: yes</code></span></td>
      <td>
        <p>If true, the dropzone will present a file selector when clicked.</p>

      </td>
    </tr>
    <tr id="config-ignoreHiddenFiles">
      <td><a href="#config-ignoreHiddenFiles"><code>ignoreHiddenFiles</code></a> <span class="default-value"><code>default: yes</code></span></td>
      <td>
        <p>Whether hidden files in directories should be ignored.</p>

      </td>
    </tr>
    <tr id="config-acceptedFiles">
      <td><a href="#config-acceptedFiles"><code>acceptedFiles</code></a> <span class="default-value"><code>default: null</code></span></td>
      <td>
        <p>See <a href="https://developer.mozilla.org/en-US/docs/HTML/Element/input#attr-accept">https://developer.mozilla.org/en-US/docs/HTML/Element/input#attr-accept</a>
for a reference.</p>

      </td>
    </tr>
    <tr id="config-acceptedMimeTypes">
      <td><a href="#config-acceptedMimeTypes"><code>acceptedMimeTypes</code></a> <span class="default-value"><code>default: null</code></span></td>
      <td>
        <p>@deprecated
Use acceptedFiles instead.</p>

      </td>
    </tr>
    <tr id="config-autoProcessQueue">
      <td><a href="#config-autoProcessQueue"><code>autoProcessQueue</code></a> <span class="default-value"><code>default: on</code></span></td>
      <td>
        <p>If false, files will be added to the queue but the queue will not be
processed automatically.
This can be useful if you need some additional user input before sending
files (or if you want want all files sent at once).
If you&#39;re ready to send the file simply call myDropzone.processQueue()</p>

      </td>
    </tr>
    <tr id="config-autoQueue">
      <td><a href="#config-autoQueue"><code>autoQueue</code></a> <span class="default-value"><code>default: on</code></span></td>
      <td>
        <p>If false, files added to the dropzone will not be queued by default.
You&#39;ll have to call <code>enqueueFile(file)</code> manually.</p>

      </td>
    </tr>
    <tr id="config-addRemoveLinks">
      <td><a href="#config-addRemoveLinks"><code>addRemoveLinks</code></a> <span class="default-value"><code>default: no</code></span></td>
      <td>
        <p>If true, Dropzone will add a link to each file preview to cancel/remove
the upload.
See dictCancelUpload and dictRemoveFile to use different words.</p>

      </td>
    </tr>
    <tr id="config-previewsContainer">
      <td><a href="#config-previewsContainer"><code>previewsContainer</code></a> <span class="default-value"><code>default: null</code></span></td>
      <td>
        <p>A CSS selector or HTML element for the file previews container.
If null, the dropzone element itself will be used.
If false, previews won&#39;t be rendered.</p>

      </td>
    </tr>
    <tr id="config-hiddenInputContainer">
      <td><a href="#config-hiddenInputContainer"><code>hiddenInputContainer</code></a> <span class="default-value"><code>default: "body"</code></span></td>
      <td>
        <p>Selector for hidden input container</p>

      </td>
    </tr>
    <tr id="config-capture">
      <td><a href="#config-capture"><code>capture</code></a> <span class="default-value"><code>default: null</code></span></td>
      <td>
        <p>If null, no capture type will be specified
If camera, mobile devices will skip the file selection and choose camera
If microphone, mobile devices will skip the file selection and choose the microphone
If camcorder, mobile devices will skip the file selection and choose the camera in video mode
On apple devices multiple must be set to false.  AcceptedFiles may need to
be set to an appropriate mime type (e.g. &quot;image/<em>&quot;, &quot;audio/</em>&quot;, or &quot;video/*&quot;).</p>

      </td>
    </tr>
    <tr id="config-renameFilename">
      <td><a href="#config-renameFilename"><code>renameFilename</code></a> <span class="default-value"><code>default: null</code></span></td>
      <td>
        <p>Before the file is appended to the formData, the function _renameFilename is performed for file.name, file
which executes the function defined in renameFilename</p>

      </td>
    </tr>
    <tr id="config-dictDefaultMessage">
      <td><a href="#config-dictDefaultMessage"><code>dictDefaultMessage</code></a> <span class="default-value"><code>default: "Drop files here to upload"</code></span></td>
      <td>
        <p>The text used before any files are dropped</p>

      </td>
    </tr>
    <tr id="config-dictFallbackMessage">
      <td><a href="#config-dictFallbackMessage"><code>dictFallbackMessage</code></a> <span class="default-value"><code>default: "Your browser does not support drag'n'drop file uploads."</code></span></td>
      <td>
        <p>The text that replaces the default message text it the browser is not supported</p>

      </td>
    </tr>
    <tr id="config-dictFallbackText">
      <td><a href="#config-dictFallbackText"><code>dictFallbackText</code></a> <span class="default-value"><code>default: "Please use the fallback form below to upload your files like in the olden days."</code></span></td>
      <td>
        <p>The text that will be added before the fallback form
If null, no text will be added at all.</p>

      </td>
    </tr>
    <tr id="config-dictFileTooBig">
      <td><a href="#config-dictFileTooBig"><code>dictFileTooBig</code></a> <span class="default-value"><code>default: "File is too big ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB."</code></span></td>
      <td>
        <p>If the filesize is too big.</p>

      </td>
    </tr>
    <tr id="config-dictInvalidFileType">
      <td><a href="#config-dictInvalidFileType"><code>dictInvalidFileType</code></a> <span class="default-value"><code>default: "You can't upload files of this type."</code></span></td>
      <td>
        <p>If the file doesn&#39;t match the file type.</p>

      </td>
    </tr>
    <tr id="config-dictResponseError">
      <td><a href="#config-dictResponseError"><code>dictResponseError</code></a> <span class="default-value"><code>default: "Server responded with {{statusCode}} code."</code></span></td>
      <td>
        <p>If the server response was invalid.</p>

      </td>
    </tr>
    <tr id="config-dictCancelUpload">
      <td><a href="#config-dictCancelUpload"><code>dictCancelUpload</code></a> <span class="default-value"><code>default: "Cancel upload"</code></span></td>
      <td>
        <p>If used, the text to be used for the cancel upload link.</p>

      </td>
    </tr>
    <tr id="config-dictCancelUploadConfirmation">
      <td><a href="#config-dictCancelUploadConfirmation"><code>dictCancelUploadConfirmation</code></a> <span class="default-value"><code>default: "Are you sure you want to cancel this upload?"</code></span></td>
      <td>
        <p>If used, the text to be used for confirmation when cancelling upload.</p>

      </td>
    </tr>
    <tr id="config-dictRemoveFile">
      <td><a href="#config-dictRemoveFile"><code>dictRemoveFile</code></a> <span class="default-value"><code>default: "Remove file"</code></span></td>
      <td>
        <p>If used, the text to be used to remove a file.</p>

      </td>
    </tr>
    <tr id="config-dictRemoveFileConfirmation">
      <td><a href="#config-dictRemoveFileConfirmation"><code>dictRemoveFileConfirmation</code></a> <span class="default-value"><code>default: null</code></span></td>
      <td>
        <p>If this is not null, then the user will be prompted before removing a file.</p>

      </td>
    </tr>
    <tr id="config-dictMaxFilesExceeded">
      <td><a href="#config-dictMaxFilesExceeded"><code>dictMaxFilesExceeded</code></a> <span class="default-value"><code>default: "You can not upload any more files."</code></span></td>
      <td>
        <p>Displayed when the maxFiles have been exceeded
You can use {{maxFiles}} here, which will be replaced by the option.</p>

      </td>
    </tr>

  </tbody>
</table>

