<!doctype html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="css/general.css" />
  <meta charset="utf-8" />
  <meta name="description" value="Dropzone is an open source library that provides beautiful and easy to use drag'n'drop file uploads." />
  <meta name="keywords" value="ender javascript dragndrop drag and drop drag'n'drop file upload image preview coffeescript" />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="js/ender.js"></script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34027655-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id="container">

    {{ content }}

  </div>

  <a href="https://github.com/enyo/dropzonejs"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
</body>
</html>