<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-ie"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>{{ page.title }}</title>

  <meta name="description" value="Dropzone is an open source library that provides beautiful and easy to use drag'n'drop file uploads." />
  <meta name="keywords" value="ender javascript dragndrop drag and drop drag'n'drop file upload image preview coffeescript" />

  <link rel="stylesheet" href="css/general.css?v=6" />

  <script src="js/build/build.js?v=3"></script>
  <script>
    require("boot");
  </script>


  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34027655-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <script type="text/javascript">
    // Font loading from typekit
    (function() {
      var config = {
        kitId: 'hpm5kxd',
        scriptTimeout: 3000
      };
      var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
    })();
  </script>
</head>
<body>

  <article itemscope  itemtype="http://schema.org/WebApplication">

    <header>
      <img itemprop="image" src="/images/logo@2x.png" alt="logo" />

      <h1 id="logo" itemprop="name">
        <span>dropzone.js</span>
      </h1>


      <section id="intro" itemprop="description">
        <h2>dropzone.js is an open source library that provides drag'n'drop file uploads with image previews</h2>
      </section>

      <div id="loading-font"><span>Loading fonts</span></div>
    </header>

    {{ content }}


    <section>

      <h1>other projects</h1>

      <div id="opentip-demo">
      You might also be interested in my <a href="http://www.opentip.org/">open source tooltip library Opentip</a>.
      </div>

    </section>

  </article>

  <footer><div>

    <section>

      <h1>Written &amp; <span>designed by</span></h1>

      <p>Matias Meno &lt;m@tias.me&gt;</p>

    </section>

    <section>

      <h1>MIT License</h1>

      <p>Dropzone is licensed under MIT.</p>

      <p>Copyright (c) 2012 Matias Meno</p>

    </section>

    <section>

      <p>Permission is hereby granted, free of charge, to any person obtaining a copy
      of this software and associated documentation files (the "Software"), to deal
      in the Software without restriction, including without limitation the rights
      to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
      copies of the Software, and to permit persons to whom the Software is
      furnished to do so, subject to the following conditions:</p>

      <p>The above copyright notice and this permission notice shall be included in all
      copies or substantial portions of the Software.</p>

    </section>

    <section>

      <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
      AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
      OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
      SOFTWARE.</p>

    </section>

  </div></footer>

  <a href="https://github.com/enyo/dropzone" id="fork-me"><span>Fork me on GitHub</span></a>
</body>
</html>